[Unit]
Description=Manage Java service

[Service]
EnvironmentFile=/usr/share/java/.env
WorkingDirectory=/usr/share/java
ExecStart=/bin/java -jar $APP_JAR
User=ubuntu
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
